html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:after, *:before {
    box-sizing: inherit;
}
body {
    background-color: $bg-dark;
    min-height: 100vh;
    font-family: $rubik;
}
h1, h2, h3, h4, p, ul, button {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4 {
    font-family: $poppins;
    line-height: 1.2;
}
p {
    line-height: 1.5; 
}
button {
    background-color: transparent;
    border-color: transparent;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
input {
    background-color: transparent;
    border-color: transparent;
}