// Colors
$primary-dark: #FFE600;
$primary-light: #9A7BCB;
$bg-dark: #1B282F;
$navbar-dark: #11191E;
$bg-light: #fff;
$navbar-light: #FAFAFA;
$secondary: #F2F2F2;
$opacity-nav: #000000a3;

// Fonts
$poppis: 'Poppins', sans-serif;
$rubik: 'Rubik', sans-serif;
