<div class="container">
    <div class="dl_info">
        <h2 class="info_title">Download</h2>
        <p class="info_paragraph">You can <span>install the application</span> on the device<br> you want, without any extra cost in your<br> subscription.</p>
        <img src="./img/image-download.svg" alt="image download">
    </div>
    <div class="dl_apps">
        <div class="apps_mobile">
            <h3>Mobile</h3>
            <div class="app">
                <div class="app_info">   
                    <img class="app_img" src="./img/android.svg" alt="icon android">
                    <div class="app_text">
                        <h4>Android</h4>
                        <p>Size: 82.20 MB</p>
                    </div>
                </div>
                <button class="app_btn">
                    Download
                </button>
            </div>
            <div class="app">
                <div class="app_info">
                    <img class="app_img" src="./img/iphone.svg" alt="icon iphone">
                    <div class="app_text">
                        <h4>IOS</h4>
                        <p>Size: 89.56 MB</p>
                    </div>
                </div>
                <button class="app_btn">
                    Download
                </button>
            </div>
        </div>
        <div class="apps_line"></div>
        <div class="apps_desktop">
            <h3>Desktop</h3>
            <div class="app">
                <div class="app_info">
                    <img class="app_img" src="./img/macOs.svg" alt="icon macOS">
                    <div class="app_text">
                        <h4>macOs</h4>
                        <p>Size: 326.37 MB</p>
                    </div>
                </div>
                <button class="app_btn">
                    Download
                </button>
            </div>
            <div class="app">
                <div class="app_info">
                    <img class="app_img" src="./img/windows.svg" alt="icon windows">
                    <div class="app_text">
                        <h4>Windows</h4>
                        <p>Size: 389.56 MB</p>
                    </div>
                </div>
                <button class="app_btn">
                    Download
                </button>
            </div>
        </div>
    </div>
</div>