<div class="home-text">
    <h1 class="home-text-title">Live the music<br> wherever you are</h1>
    <p class="home-text-paragraph">Enjoy unlimited music without ads for as long as you want, choose the <span class="text-color">plan</span> that best suits you and start listening to your favorite artists from around the world.</p>

    <div class="home-buttons">
        <button class="home-btn-plans">Plans</button>
        <button class="home-btn-download">Download</button>
    </div>
</div>

<div class="home-img">
    <img src="./img/img-home.svg" alt="person image">
</div>